<footer class="py-4 bg-light">
  <div class="container">
    <div class="text-center">
      <ul class="list-inline mb-4 social-icons">
        <li class="list-inline-item">
          <a href="#" class="social-link">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <p class="mb-0 text-muted"> Copyright ©2025 All rights reserved | Powered by <a href="https://www.architanz.com/" class="text-primary text-decoration-none">Architanz Technologies</a></p>
    </div>
  </div>
</footer>
