<section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 clr">Our Volunteers</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 sub-colors">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 team-grid-wthree">
        <div class="team-grid-txt">
          <img src="assets/images/t1.jpg" alt="" class="img-fluid">
          <div class="team-txt-info mt-3">
            <h4>John Smith</h4>
            <p class="mt-2">Volunteer</p>
            <div class="social-icons mt-3">
              <ul>
                <li><a href="#"><span class="fa fa-facebook mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 team-grid-wthree">
        <div class="team-grid-txt">
          <img src="assets/images/t2.jpg" alt="" class="img-fluid">
          <div class="team-txt-info mt-3">
            <h4>Laura Doe</h4>
            <p class="mt-2">Volunteer</p>
            <div class="social-icons mt-3">
              <ul>
                <li><a href="#"><span class="fa fa-facebook mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 team-grid-wthree">
        <div class="team-grid-txt">
          <img src="assets/images/t3.jpg" alt="" class="img-fluid">
          <div class="team-txt-info mt-3">
            <h4>Thomas Son</h4>
            <p class="mt-2">Volunteer</p>
            <div class="social-icons mt-3">
              <ul>
                <li><a href="#"><span class="fa fa-facebook mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 team-grid-wthree">
        <div class="team-grid-txt">
          <img src="assets/images/t4.jpg" alt="" class="img-fluid">
          <div class="team-txt-info mt-3">
            <h4>Rose Will</h4>
            <p class="mt-2">Volunteer</p>
            <div class="social-icons mt-3">
              <ul>
                <li><a href="#"><span class="fa fa-facebook mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter mr-lg-3 mr-2"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
