<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Our Services</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
        <div class="ser-Agriculture-grid">
          <div class="about-icon mb-md-4 mb-3">
            <span class="fa fa-heart" aria-hidden="true"></span>
          </div>
          <div class="ser-sevice-grid">
            <h4 class="pb-3">Donation</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
        <div class="ser-Agriculture-grid">
          <div class="about-icon mb-md-4 mb-3">
            <span class="fa fa-home" aria-hidden="true"></span>
          </div>
          <div class="ser-sevice-grid">
            <h4 class="pb-3">Shelter</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
        <div class="ser-Agriculture-grid">
          <div class="about-icon mb-md-4 mb-3">
            <span class="fa fa-users" aria-hidden="true"></span>
          </div>
          <div class="ser-sevice-grid">
            <h4 class="pb-3">Volunteer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
