<section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Latest Blog</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum</p>
    </div>
    <div class="row">
      <div class="col-lg-6 color-img-three">
        <div class="blog-grid-flex">
          <div class="blog-img-right">
            <img src="assets/images/bb1.jpg" alt="" class="img-fluid">
          </div>
          <div class="blog-info-middle">
            <h4>Donation</h4>
            <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum</p>
          </div>
          <div class="blog-info-right">
            <p>March 3, 2025</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 color-img-three">
        <div class="blog-grid-flex">
          <div class="blog-img-right">
            <img src="assets/images/bb2.jpg" alt="" class="img-fluid">
          </div>
          <div class="blog-info-middle">
            <h4>Charity</h4>
            <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum</p>
          </div>
          <div class="blog-info-right">
            <p>March 3, 2025</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
